.contacts{
  float: right;
  margin-right: 20px;
  &_phone{
    position: relative;
    padding-left: 24px;
    margin-bottom: 6px;
    @include before{
      background: url('../image/phone.png') no-repeat;
      width: 12px;
      height: 18px;
      display: block;
      position: absolute;
      top: 0px;
      left: 1px;
    }
    p{
      font-size: 17px;
    }
    &__footer{
      padding-left: 0px;
      @include before{
        background: none;
      }
      p{
        font-family: OpenSansLight;
        color: #fdfdfd;
        text-align: right;
      }
    }
  }
  &_address{
    p{
      font-family: OpenSansLight;
      font-size: 11px;
    }
    &__footer{
      p{
        color: #fdfdfd;
        font-size: 10px;
        text-align: right;
      }
    }
  }
}