.header{
  min-height: 78px;
  &_wrap{
    @include clearfix();
    padding: 22px 0px;
    &__fixed{
      position: fixed;
      width: 100%;
      top: 0px;
      left: 0px;
      z-index: 10;
      background-color: #ffffff;
      opacity: 0.9;
      z-index: 9999;
    }
  }
}