.webformat{
  display: block;
  float: left;
  margin-left: 20px;
  background: url('../image/webformat.png') no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 149px;
  height: 33px;
  &__footer{
    background-image: url('../image/webformat-footer.png');
  }
}